@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --body-bg: #111;
    --h1-col-name: yellowgreen;
    --fieldset: #444;
    --col-ids-del: #333;
    --row-hover: #664;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-bg);
    text-align: center;
    color: white;
    margin: 10px;
}

header, .search-select, .checkbox-container {
    display: flex;
    align-items: center;
}

.search-container, .search-select {
    gap: 5px;
}

.search-container, .cereals-name, input::placeholder {
    text-align: left;
}

label {
    padding: 0 10px;
}

fieldset, input[type="search"], thead  {
    background-color: var(--fieldset);
}

fieldset {
    border-radius: 5px;
}

.search-container {
    display: flex;
    flex: 3;
}

h1, .search-select {
    flex: 2;
}

h1, thead th {
    color: var(--h1-col-name);
}

h1 {
    align-self: center;
    font-family: 'Sriracha', cursive;
    font-size: 45px
}

.research {
    flex: 1;
}

.search-select, input[type="search"], table, button {
    width: 100%;
}

fieldset {
    padding: 10px;
}

input[type="search"] {
    border: 0px;
    height: 100%;
}

input::placeholder {
    font-size: 18px;
}

table {
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    padding: 5px;
}

.cereals-ids, .cereals-del {
    background: var(--col-ids-del);
}

tbody tr:hover, tbody tr:hover td, tbody tr:hover button {
    background-color: var(--row-hover);
}

.cereals-ids {
    color: yellow;
}

.cereals-name {
    padding-left: 10px;
}

.A {
    background-color: darkgreen;
}

.B {
    background-color: #009900CC;
}

.C {
    background-color: #CCCC00CC;
}

.D {
    background-color: #CC6600CC;
}

.E {
    background-color: #CC0000CC;   
}

button {
    background-color: var(--col-ids-del);
    border: none;
    color: red;
}

