*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    margin: 0 10px;
}

header, .search-select, .checkbox-conainer {
    display: flex;
    justify-content: space-between;
    gap: 2px;
}

.search-container {
    display: flex;
    gap: 2px;
    text-align: left;
    flex: 3;
}

h1 {
    flex: 2;
    text-align: center;
    align-self: center;
}

.research {
    flex: 1;
}

.search-select {
    flex: 2;
}

fieldset {
    width: 100%;
    padding: 10px;
}

input[type="search"] {
    border: 0px;
    width: 100%;
    height: 100%;
}

input::placeholder {
    text-align: left;
    font-size: 18px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid;
}