<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3.2.33/dist/vue.global.js"></script>
    <script src="assets/main.js" type="module"></script>
    <link rel="stylesheet" href="./assets/style.css">
    <title>Cereals</title>
</head>
<body>
    <div id="app">
        <header>
            <h1>{{ title }}</h1>
            <div class="search-container">
                <fieldset @input="searchByName" class="research">
                    <legend>
                        <label for="search">Recherche</label>
                    </legend>
                    <input type="search" name="search" id="search" placeholder="Nom du céréale" v-model="searchName">
                </fieldset>
                <fieldset class="search-select">
                    <legend>Filter</legend>
                    <fieldset @change="searchByNutriscore" class="checkbox-container">
                        <legend>Nutriscore</legend>
                        <label for="a">A</label>
                        <input type="checkbox" id="a" value="a" v-model="nutriscores">
                        <label for="b">B</label>
                        <input type="checkbox" id="b" value="b" v-model="nutriscores">
                        <label for="c">C</label>
                        <input type="checkbox" id="c" value="c" v-model="nutriscores">
                        <label for="d">D</label>
                        <input type="checkbox" id="d" value="d" v-model="nutriscores">
                        <label for="e">E</label>
                        <input type="checkbox" id="e" value="e" v-model="nutriscores">
                    </fieldset>
                    <fieldset>
                        <legend>Catégorie</legend>
                        <select @change="searchByCategorie" name="categories" id="categories" v-model="categorie">
                            <option value="tous">Tous</option>
                            <option value="sans-sucre">Sans sucre</option>
                            <option value="pauvre-en-sel">Pauvre en sel</option>
                            <option value="boost">Boost</option>
                        </select>
                    </fieldset>
                </fieldset>
            </div>
        </header>
        <table class="cereal-container">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOM</th>
                    <th>CALORIES</th>
                    <th>PROTEINES</th>
                    <th>SEL</th>
                    <th>FIBRES</th>
                    <th>GLUCIDES</th>
                    <th>SUCRE</th>
                    <th>POTASSIUM</th>
                    <th>VITAMINES</th>
                    <th>EVALUATION</th>
                    <th>NS</th>
                    <th>DEL</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="cereal in cereals" :key="cereal.id">
                    <td class="cereals-ids">{{ cereal.id }}</td>
                    <td class="cereals-name">{{ cereal.name }}</td>
                    <td>{{ cereal.calories }}</td>
                    <td>{{ cereal.protein }}</td>
                    <td>{{ cereal.sodium }}</td>
                    <td>{{ cereal.fiber }}</td>
                    <td>{{ cereal.carbo }}</td>
                    <td>{{ cereal.sugars }}</td>
                    <td>{{ cereal.potass }}</td>
                    <td>{{ cereal.vitamins }}</td>
                    <td>{{ cereal.rating }}</td>
                    <th :class="cereal.nutriscore">{{ cereal.nutriscore }}</th>
                    <td class="cereals-del">
                        <button @click="cerealRemove(cereal)">X</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="cereals-ids">{{ cereals.length }}</td>
                    <td></td>
                    <td :@change="averageCalorieCalculate">Moyenne calories : {{ averageCalorie }}</td>
                    <td colspan="11"></td>
                </tr>
            </tfoot>
        </table>
    </div>
</body>
</html>