<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>ZipCodes</title>
</head>
<body>
  <script src="https://unpkg.com/vue@3"></script>

  <div id="app">
    <!-- Affichege du titre -->
    <h1>{{ title }}</h1>
    <!-- Création de l'input -->
    <input type="text" v-model="inputContent">
    <a href="#">Search</a>
    <datalist>
      <option value="postalCode"></option>
    </datalist>
    <!-- Affichage des résultats -->
    <table>
      <tbody>
        <tr>
          <th>City name</th>
          <th>Postal code</th>
          <th>Commune code</th>
          <th>Libelle acheminement</th>
        </tr>
      </tbody>
      <tfoot>
        <tr v-for="city in cities" @click="getCities">
          <td>{{ city.nomCommune }}</td>
          <td>{{ city.codePostal }}</td>
          <td>{{ city.codeCommune }}</td>
          <td>{{ city.libelleAcheminement }}</td>
        </tr>
      </tfoot>
    </table>
  </div>

  <script>
      Vue.createApp({
          data(){
              return{
                  title: 'ZipCodes',
                  inputContent: 'Name or ZipCode',
                  cities: [
                    {codePostal:"10200",codeCommune:"10002",nomCommune:"Ailleville",libelleAcheminement:"AILLEVILLE"},
                    {codePostal:"10160",codeCommune:"10003",nomCommune:"Aix-Villemaur-Pâlis",libelleAcheminement:"AIX-VILLEMAUR-PALIS"}
                  ]
              }
          }
      }).mount('#app')
  </script>
</body>
</html>